<div id="popup" class="popup justify-content-center align-items-center vh-100" style="display: none; position: fixed; z-index: 20; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.4); ">
  <div class="popup-content card shadow-sm border-0" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 70vw;">
    <div class="card-body text-center">
      <span class="close" onclick="closePopup()"><i class="fas fa-times-circle"></i></span>
      
      {% if itens %}
        <h1>Deseja excluir o item<br><strong id="item-name" style="color: #287133;"></strong>?</h1>
      {% elif listas %}
        <h1>Deseja excluir a lista<br><strong id="lista-name" style="color: #287133;"></strong>?</h1>
      {% else %}
        <h1>Deseja excluir esse registro de renda extra?</h1>
      {% endif %}
      
      <p>Essa ação não pode ser revertida.</p>
      
      <div class="popup-buttons d-flex justify-content-center mt-4">
        <form id="delete-form" method="post" class="me-2">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        </form>
        <button class="btn btn-secondary" onclick="closePopup()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
