<form method="post">
  {% csrf_token %}
  
  <div class="mb-3">
    <label for="{{ form.nome.id_for_label }}" class="form-label"><strong>{{ form.nome.label }}</strong></label>
    {{ form.nome }}
  </div>
  
  <div class="mb-3">
    <label for="{{ form.tipo.id_for_label }}" class="form-label"><strong>{{ form.tipo.label }}</strong></label>
    {{ form.tipo }}
  </div>
  
  <div class="mb-3">
    <label for="{{ form.categoria.id_for_label }}" class="form-label"><strong>{{ form.categoria.label }}</strong></label>
    {{ form.categoria }}
  </div>
  
  <div class="mb-3">
    <label for="{{ form.meta_de_gastos.id_for_label }}" class="form-label"><strong>{% if lista.id %}{{ form.meta_de_gastos.label }}{% else %}Limite de Gastos{% endif %}</strong></label>
    <div class="input-group">
      <span class="input-group-text">R$</span>
      {{ form.meta_de_gastos }}
    </div>
  </div>
  
  <div class="d-grid gap-2 mt-4">
    <button type="submit" class="btn btn-primary"><strong>{% if lista.id %}Salvar Alterações{% else %}Criar Lista{% endif %}</strong></button>
  </div>
  
</form>