{% extends 'base.html' %} {% block head %}
<title>Ganhos</title>
{% load static %}
<link rel="stylesheet" href="{% static 'item_view_style.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<script src="{% static 'openPopup.js' %}"></script>
{% endblock %}
{% block content %}
{% if earnings %}
  <div class="header">
    <div class="icons">
      <a href="{% url 'earning:earning' %}" title="Registrar">
        <i class="fas fa-add"></i>Registrar
      </a>
    </div>
  </div>
    {% for earning in earnings %}
    <div class="item-container">
      <div class="details">
          <p><strong>Quantia:</strong> R${{ earning.earning | floatformat:2 }}</p>
          <p><strong>Categoria:</strong> {{ earning.get_category_display }}</p>
          <p><strong>Data:</strong> {{ earning.created_at }}</p>
          <div class="options">
            <a id="edit" href="{% url 'earning:earning_update' id_earning=earning.id %}">
              <i class="fas fa-edit"></i>Editar</a>
            <a id="delete" href="javascript:void(0);" data-earning-id="{{ earning.id }}" onclick="openPopup(this)">
              <i class="fas fa-trash"></i>Excluir</a>
          </div>
      </div>
    </div>
    {% endfor %} 
    {% include 'cria_lista/_delete.html' %}
{% else %}
    <div class="no-items">
    <h2>Nenhum registro cadastrado</h2>
    <a href="{% url 'earning:earning' %}"><i class="fas fa-add"></i>Registrar ganhos</a>
    </div>
{% endif %} {% endblock %}
