@charset "UTF-8";

:root {
    --cor1alt: #0E90A1;
    --cor1alt2: #5CDCED;
    --cor1alt3: #0A626E;
    --cor1: #0a606c;
    --cor2: #bbbbbb;
    --cor3: #cac3c3;
    --cor4: #000000;
    --cor5: #ffffff;
    --cor6: #2b2b2b;
    --cor7: #8d8d8d;
    --cor8: #4e4e4e;
    --cor-add: #516725;
    --cor-edit: #2e2eb0;
    --cor-delete: #8d1e1e;
    --fonte-cabeçalho: Verdana, Helvetica, sans-serif;
    --fonte-paragrafos: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--cor-delete);
    border-radius: 30px;
    padding: 30px;
    text-align: center;
}

.form h1 {
    font-family: var(--fonte-cabeçalho);
    font-size: 30px;
    text-wrap: nowrap;
    color: var(--cor5);
    text-shadow: 2px 2px 10px var(--cor-delete);
}

.form p {
    font-family: var(--fonte-paragrafos);
    font-size: 1.5em;
    text-align: center;
    color: var(--cor-delete);
    text-shadow: 1px 1px 5px var(--cor5);
}

.form strong {
    text-transform: capitalize;
}

.form h1, .form p {
    margin: 20px 0;
}

.botao {
    text-align: center;
}

button {
    background-color: var(--cor-delete);
    padding: 10px 50px;
    font-size: 2em;
    border-radius: 30px;
    color: var(--cor5);
    font-variant-caps: petite-caps;
}

button:hover {
    cursor: pointer;
    text-shadow: 2px 2px var(--cor4);
}


