@charset "UTF-8";

:root {
    --cor1: #0a606c;
    --cor2: #bbbbbb;
    --cor3: #cac3c3;
    --cor4: #000000;
    --cor5: #ffffff;
    --cor6: #2b2b2b;
    --cor7: #8d8d8d;
    --cor8: #4e4e4e;
    --cor-add: #0000ff;
    --cor-edit: #2f8f9c;
    --cor-delete: #8d1e1e;
    --fonte-cabeçalho: Verdana, Helvetica, sans-serif;
    --fonte-paragrafos: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#index {
    font-family: var(--fonte-cabeçalho);
    font-size: 2em;
    text-align: left;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    text-align: right;
    margin: 0;
    padding: 0;   
}

#not-logged-in, #logged-in {
    text-align: right;
}

#hello {
    color: var(--cor5);
}

.navbar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.navbar li {
    margin: 0 10px;
}

header, footer {
    font-family: var(--fonte-cabeçalho);
    background-color: var(--cor1);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header a {
    padding: 10px;
    border-radius: 4px;
    color: var(--cor5);
    outline: none;
    border: none;
    justify-content: space-around;
}

body {
    background-color: var(--cor2);
}

main {
    background-color: var(--cor2);
    font-family: var(--fonte-paragrafos);
}

a {
    text-decoration: none;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
}