@charset "UTF-8";

:root {
    --cor1: #0a606c;
    --cor2: #bbbbbb;
    --cor3: #cac3c3;
    --fonte-cabeçalho: Verdana, Helvetica, sans-serif;
    --fonte-paragrafos: Helvetica, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 50px;
}

.img-atualizar img, .img-ver img, 
.img-adicionar img, .img-excluir img {
    padding: 10px;
    text-align: center;
    border: 10px solid black;
    border-radius: 20px;
    width: 250px;
}

.img-label {
    text-align: center;
    border: 10px solid black;
    border-radius: 20px;
    font-size: 32px;
}

