@charset "UTF-8";

:root {
    --cor1: #0a606c;
    --cor2: #bbbbbb;
    --cor3: #cac3c3;
    --cor4: #000000;
    --cor5: #ffffff;
    --cor6: #2b2b2b;
    --cor7: #8d8d8d;
    --cor8: #4e4e4e;
    --cor-add: #0000ff;
    --cor-edit: #2f8f9c;
    --cor-delete: #8d1e1e;
    --fonte-cabeçalho: Verdana, Helvetica, sans-serif;
    --fonte-paragrafos: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
    background-color: var(--cor6);
    color: var(--cor5);
    font-family: var(--fonte-paragrafos);
}

th {
    font-variant-caps: petite-caps;
}

table, tr, th, td {
    border: 1px solid var(--cor7);
    border-collapse: collapse;
}

thead > tr > th {
    font-size: 20px;
    padding: 20px;
}
tbody > tr, td {
    padding: 10px;
}

tfoot > tr > th {
    padding: 10px;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: var(--cor8);
}

button {
    padding: 4px;
    border-radius: 4px;
    color: var(--cor5);
}

button:hover {
    cursor: pointer;
}

#add button {
    background-color: var(--cor-add);
}

#edit button {
    background-color: var(--cor-edit);
}

#delete button {
    background-color: var(--cor-delete);
}
