@charset "UTF-8";

.form {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--cor-delete);
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    background-color: var(--cor-cinza);
}

.form h1, .form h2 {
    font-family: var(--fonte-cabeçalho);
    font-size: 1.8em;
    color: var(--cor4);
}

.form p {
    font-family: var(--fonte-paragrafos);
    font-size: 1.5em;
    text-align: center;
    color: var(--cor4);
}
 
strong {
    text-transform: uppercase;
    color: var(--cor4);
}

.form h2, .form p {
    margin: 20px 0;
}

.botao {
    text-align: center;
}

button {
    background-color: var(--cor-delete);
    padding: 10px 50px;
    font-size: 2em;
    border-radius: 30px;
    color: var(--cor5);
    font-variant-caps: petite-caps;
}

button:hover {
    cursor: pointer;
    text-shadow: 2px 2px var(--cor4);
}
