@charset "UTF-8";

:root {
  --cor-primaria: #287133;
  --cor-secundaria: #2b2b2b;
  --cor-terciaria: #dbdbdb; 
  --cor-leitura: #ffffff;
  --cor-verde: #287133;
  --cor-texto: #333;
  --cor-link: #007bff;
  --cor-botao: #489c2f;
  --cor1alt: #0E90A1;
  --cor1alt2: #5CDCED;
  --cor1alt3: #0A626E;
  --cor2: #bbbbbb;
  --cor3: #cac3c3;
  --cor4: #000000;
  --cor5: #ffffff;
  --cor6: #2b2b2b;
  --cor7: #8d8d8d;
  --cor8: #4e4e4e;
  --cor-add: #0000ff;
  --cor-edit: #489c2f9f;
  --cor-delete: #8d1e1e;
  --fonte-cabecalho: Montserrat, sans-serif;
  --fonte-paragrafos: "Open Sans", sans-serif; 
  
  --font-size-base: 16px;
  --padding-base: 1rem;
  --margin-base: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-base);
}

#index {
  font-family: var(--fonte-cabecalho);
  font-size: 2rem;
  text-align: left;
}

nav.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul.navbar {
  list-style: none;
  display: flex;
  align-items: flex-end;
  text-align: right;
  margin: 0;
  padding: 0;
}

#not-logged-in {
  position: relative;
  text-align: right;
  padding: 0.3125rem;
  display: flex;
  align-items: center;
}

#logged-in {
  text-align: right;
  align-items: center;
  font-size: 0.75rem;
}

#hello {
  color: var(--cor5);
  position: relative;
  display: flex;
  border: 1px solid var(--cor5);
  border-radius: 0.625rem;
  padding: 0.625rem;
  align-items: center;
}

#hello:hover {
  cursor: pointer;
  border: 1px solid var(--cor5);
}

#login,
#logout,
#signup {
  border: 1px solid var(--cor-primaria);
  border-radius: 0.625rem;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--cor-primaria);
  transition: border-color 0.3s ease, color 0.3s ease;
}

#login:hover,
#logout:hover,
#signup:hover {
  border: 1px solid var(--cor5);
  color: var(--cor4);
  cursor: pointer;
}

#logout {
  display: none;
  align-items: center;
  position: absolute;
  background-color: var(--cor-primaria);
  border-radius: 0.625rem;
  padding: 0 1.25rem;
  top: 4.375rem;
  z-index: 11;
  animation: slide-down 0.3s ease-in-out;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.material-symbols-outlined {
  margin-left: 0.625rem;
  vertical-align: middle;
}

.navbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.navbar li {
  margin: 0 0.625rem;
}

header {
  font-family: var(--fonte-cabecalho);
  background-color: var(--cor-primaria);
  color: var(--cor5);
  padding: 1.25rem;
  text-align: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

header a {
  padding: 0.625rem;
  border-radius: 0.25rem;
  color: var(--cor5);
  outline: none;
  border: none;
}

body {
  background-color: var(--cor2);
}

main {
  background-color: var(--cor2);
  font-family: var(--fonte-paragrafos);
}

form {
  margin: var(--margin-base) 0;
  padding: var(--padding-base);
  background-color: var(--cor-terciaria);
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}
