.form {
    margin-top: 0.625rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.25rem;
    max-width: 50rem;
    border-radius: 0.625rem;
    background-color: var(--cor-terciaria);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

fieldset {
    border: 0.0625rem solid var(--cor-secundaria);
    border-radius: 0.3125rem;
    background-color: var(--cor-terciaria);
}

legend {
    border: 0.0625rem solid var(--cor-secundaria);
    padding: 0.625rem;
    text-align: center;
    background-color: var(--cor-primaria);
    border-radius: 0.3125rem;
    color: var(--cor-leitura);
    font-size: 2rem;
}

.form-group {
    position: relative;
    margin: 1.25rem 0;
}

.form-group label {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: var(--cor-primaria);
    text-transform: uppercase;
}

.form-group input, .form-group select {
    background-color: var(--cor-terciaria);
    font-size: 1.2rem;
    border: 0.0625rem solid var(--cor-secundaria);
    border-radius: 0.3125rem;
    outline: none;
    color: var(--cor-secundaria);
    width: 100%;
    padding: 0.625rem;
    margin: 0.625rem 0;
}

.form-group input:valid {
    background-color: var(--cor-terciaria);
}

.botao {
    text-align: center;
}

button {
    border: none;
    padding: 0.625rem 1.25rem;
    font-size: 1.2rem;
    background-color: var(--cor-botao);
    border-radius: 0.3125rem;
    margin-bottom: 0.625rem;
    color: var(--cor-leitura);
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-secundaria);
}
