h1 {
  color: var(--cor-primaria);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.25rem;
}

.menu {
  position: absolute;
  background-color: var(--cor-terciaria);
  padding: 1.25rem;
  max-width: 50rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.625rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.menu a {
  color: var(--cor-primaria);
  transition: border-bottom 0.2s ease; 
}

.menu a:hover {
  color: var(--cor-secundaria);
  border-bottom: 1px solid var(--cor-link);
}

.menu h2 {
  font-size: 1.5rem;
  color: var(--cor-primaria);
  margin-bottom: 1.25rem;
}

section {
  background-color: var(--cor-terciaria);
  padding: 1.25rem;
  margin: 1.25rem 0;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

section h2 {
  font-size: 2rem;
  color: var(--cor-primaria);
  margin-bottom: 1.25rem;
}

section p {
  font-size: 1.2rem;
  color: var(--cor-texto);
  line-height: 1.5;
}

section .brief {
  text-indent: 2em;
  margin-bottom: 1.25rem;
  text-align: justify;
}

section a {
  text-decoration: none;
  color: var(--cor-primaria);
  transition: color 0.3s ease;
}

section a:hover {
  color: var(--cor-secundaria);
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu {
    max-width: 50rem;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  p {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  .menu {
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
}
