@charset "UTF-8";

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background-color: var(--cor-terciaria);
  border-radius: 0.625rem;
  border-bottom: 0.0625rem solid var(--cor-texto);
  box-shadow: 0 0.625rem 0.3125rem rgba(0, 0, 0, 0.116);
  margin-bottom: 1.25rem;
  transition: background-color 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 10;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--cor-texto);
}

.infoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.infoList .icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.icons a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--cor-leitura);
  background-color: var(--cor-secundaria);
  padding: 0.625rem 0.9375rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.icons a:hover {
  background-color: var(--cor-verde);
  transform: scale(1.05);
}

.valoresLista {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.valoresLista p {
  margin: 0;
  font-size: 1.2rem;
  color: var(--cor-leitura);
  padding: 0.625rem 1.25rem;
}

.total,
.diferenca {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  margin-bottom: 0.625rem;
  padding: 0.625rem 1rem;
}

.total i,
.diferenca i {
  padding-right: 0.625rem;
}

.total {
  background-color: var(--cor-delete);
}

.diferenca {
  background-color: var(--cor-edit);
}

.item-container {
  text-align: center;
  padding: 1.25rem;
  margin: 1.25rem auto;
  background: var(--cor-terciaria);
  border-radius: 0.9375rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 80%;
}

.item-container:hover {
  transform: translateY(-0.625rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.details {
  display: inline-block;
  margin-bottom: 0.9375rem;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
  background-color: var(--cor-leitura);
}

.details p {
  text-align: left;
  font-size: 1.5rem;
  font-family: var(--fonte-cabecalho);
  margin-bottom: 1.875rem;
  color: var(--cor-texto);
}

.details #title {
  font-size: 1.7rem;
  font-weight: bold;
}

.details #title:hover {
  color: var(--cor-secundaria);
}

.options {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  margin-bottom: 0.9375rem;
}

.options a {
  display: flex;
  align-items: center;
  padding: 0.625rem 1rem;
  border-radius: 0.5rem;
  color: white;
  border: 0.0625rem solid white;
  transition: background-color 0.5s ease, transform 0.2s ease;
}

a i {
  margin-right: 0.3125rem;
}

.options a#add {
  background-color: #0000a7bb;
}

.options a#add:hover {
  background-color: var(--cor-add);
  transform: scale(1.1);
}

.options a#edit {
  background-color: #3677229f;
}

.options a#edit:hover {
  background-color: var(--cor-edit);
  transform: scale(1.1);
}

.options a#delete {
  background-color: #8d1e1ea3;
}

.options a#delete:hover {
  background-color: var(--cor-delete);
  transform: scale(1.1);
}

#total {
  background-color: var(--cor-secundaria);
  padding: 0.9375rem;
  margin: 1.25rem 0;
  border-radius: 0.3125rem;
  color: var(--cor-leitura);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.no-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.no-items h2 {
  font-size: 1.8rem;
  white-space: nowrap;
}

.no-items a {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: var(--cor-texto);
  text-decoration: none;
}

.no-items a:hover {
  color: var(--cor-verde);
}

.no-items a .material-symbols-outlined {
  margin-right: 0.3125rem;
}

.popup {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: var(--cor-leitura);
  margin: 15% auto;
  padding: 1.25rem;
  border: 0.0625rem solid var(--cor6);
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.4s;
  transform: translate(0, 30vh);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close {
  color: var(--cor6);
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--cor4);
  text-decoration: none;
  cursor: pointer;
}

.popup-buttons {
  margin: 1.25rem;
}

.btn-confirm,
.btn-cancel {
  border: 0.0625rem solid var(--cor-leitura);
  border-radius: 0.3125rem;
  padding: 0.625rem;
}

.btn-confirm {
  background-color: var(--cor-add);
  color: var(--cor-leitura);
}

.btn-confirm:hover {
  background-color: #8d1e1ea3;
}

.btn-cancel {
  background-color: var(--cor6);
  color: var(--cor-leitura);
}

.btn-cancel:hover {
  background-color: var(--cor8);
}

button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.1rem;
  }

  .item-container {
    max-width: 70vw;
  }

  .details {
    width: 60vw;
  }

  .options a {
    margin: 0 1.25rem;
    padding: 0.625rem 1.25rem;
  }

  .popup-content {
    transform: translate(0, 20vh);
  }
}

@media only screen and (min-width: 992px) {
  .details {
    text-align: center;
    width: 40vw;
  }

  .popup-content {
    transform: translate(0, 0);
  }
}

@media only screen and (min-width: 1200px) {
  .infoList {
    flex-direction: row;
  }

  .icons {
    margin-left: 0.625rem;
  }
}
