@charset "UTF-8";

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--cor-terciaria);
  border-radius: 10px;
  border-bottom: 1px solid var(--cor-texto);
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.116);
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 10;
}

.infoList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.title {
  font-size: 1.8em;
  font-weight: bold;
  color: var(--cor-texto);
}

.header a {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: var(--cor-leitura);
  background-color: var(--cor-secundaria);
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.header a span.material-symbols-outlined {
  margin: 0 auto;
}

.header a:hover {
  background-color: var(--cor-verde);
  transform: scale(1.05);
}

.valoresLista {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  margin-top: 1em;
}

.valoresLista p {
  margin: 0;
  font-size: 1.2em;
  color: var(--cor-leitura);
  padding: 10px 20px;
}

.total, .diferenca {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 10px;
}

.total i,
.diferenca i {
  padding-right: 10px;
}

.total {
  background-color: var(--cor-delete);
}

.diferenca {
  background-color: var(--cor-edit);
}

.item-container {
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  background: var(--cor-terciaria);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 80%;
}

.item-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.details {
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: var(--cor-leitura);
}

.details p {
  text-align: left;
  font-size: 1.5em;
  font-family: var(--fonte-cabecalho);
  margin-bottom: 30px;
  color: var(--cor-texto);
}

.details #title {
  font-size: 1.7em;
  font-weight: bold;
}

.details #title:hover {
  color: var(--cor-secundaria);
}

.options {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.options a {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 8px;
  color: white;
  border: 1px solid white;
  transition: background-color 0.5s ease, transform 0.2s ease;
}

.options a i {
  margin-right: 5px;
}

.options a#add {
  background-color: #0000a7bb;
}

.options a#add:hover {
  background-color: var(--cor-add);
  transform: scale(1.1);
}

.options a#edit {
  background-color: #3677229f;
}

.options a#edit:hover {
  background-color: var(--cor-edit);
  transform: scale(1.1);
}

.options a#delete {
  background-color: #8d1e1ea3;
}

.options a#delete:hover {
  background-color: var(--cor-delete);
  transform: scale(1.1);
}

#total {
  background-color: var(--cor-secundaria);
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
  color: var(--cor-leitura);
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.no-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.no-items h2 {
  font-size: 1.8em;
  white-space: nowrap;
}

.no-items a {
  display: flex;
  align-items: center;
  font-size: 1.6em;
  color: var(--cor-texto);
  text-decoration: none;
}

.no-items a:hover {
  color: var(--cor-verde);
}

.no-items a .material-symbols-outlined {
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.1em;
  }

  .item-container {
    max-width: 70vw;
  }

  .details {
    width: 60vw;
  }

  .options a {
    margin: 0 20px;
    padding: 10px 20px;
  }
}

@media only screen and (min-width: 992px) {
  .details {
    text-align: center;
    width: 40vw;
  }
}
