@charset "UTF-8";

header h1 {
  font-size: 2.5em;
}

.list {
  padding: 10px;
  margin: 20px;
  background-color: var(--cor-terciaria);
  border-radius: 10px;
  text-decoration: none;
}

.details {
  text-align: center;
}

.details > #title {
  display: inline-block;
  font-size: 1.5em;
  margin-bottom: 30px;
  box-shadow: 1px 1px 4px #202020;
  border-radius: 10px;
  padding: 5px 10px;
  color: var(--cor-verde);
  transition: color 0.5s ease, background-color 0.5s ease;
}

.details > #title:hover {
  color: white;
  background-color: var(--cor-verde);
}

.details p {
  display: none;
}

.details h2 {
  color: var(--cor-texto);
}

.options {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.options a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  border: 1px solid white;
  transition: background-color 0.5s ease, transform 0.2s ease;
}

.options a i {
  margin-right: 5px;
}

.options a#add {
  background-color: #0000a7bb;
}

.options a#add:hover {
  background-color: var(--cor-add);
  transform: scale(1.1);
}

.options a#edit {
  background-color: #3677229f;
}

.options a#edit:hover {
  background-color: var(--cor-edit);
  transform: scale(1.1);
}

.options a#delete {
  background-color: #8d1e1ea3;
}

.options a#delete:hover {
  background-color: var(--cor-delete);
  transform: scale(1.1);
}

.total {
  display: block;
  background-color: var(--cor-verde);
  text-align: center;
  width: 50vw;
  border-radius: 5px;
  color: white;
  margin: 0 auto;
  padding: 5px 5px;
}

.no-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.no-list h2 {
  font-size: 1.8em;
}

.no-list a {
  font-size: 1.4em;
  color: black;
}

.no-list a:hover {
  color: var(--cor-verde);
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.3em;
  }

  .list-container {
    text-align: center;
  }

  .list {
    display: inline-block;
    width: 70vw;
    padding-bottom: 20px;
  }

  .options a {
    margin: 0px 20px;
    padding: 10px 20px;
  }
}

@media only screen and (min-width: 992px) {
  .list-container {
    text-align: center;
  }

  .list {
    display: inline-block;
    width: 60vw;
    padding-bottom: 20px;
  }
}
