{% extends 'base.html' %}
{% block head %}
    <title>Criar Conta</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication_form.css' %}">
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h2>Você já está logado como <strong>{{ user }}</strong></h2>
    <p>Deseja sair?</p>
    <button type="submit">
        <a href="{% url 'cria_lista:index' %}">Cancelar</a>
    </button>
    <button type="submit">
        <a href="{% url 'accounts:logout' %}">Sim</a>
    </button>
{% else %}
<div class="form">
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Criar Cadastro</legend>
            <div class="form-group">
                {% for error in user_form.username.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
                <label for="{{ user_form.username.id_for_label }}">{{ user_form.username.label }}</label>
                {{ user_form.username }}
            </div>
            
            <div class="form-group">
                {{ user_form.password1.errors }}
                <label for="{{ user_form.password1.id_for_label }}">{{ user_form.password1.label }}</label>
                    {{ user_form.password1 }}
            </div>
            <div class="form-group">
                {{ user_form.password2.errors }}
                <label for="{{ user_form.password2.id_for_label }}">{{ user_form.password2.label }}</label>
                    {{ user_form.password2 }}
            </div>
        </fieldset>
        <br>
        <div class="botao">
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}