<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul id="not-logged-in" class="navbar">
                <li id="index"><a href="{% url 'cria_lista:index' %}">INICIO</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Cadastre-se</a></li>
                {% endif %}            
            </ul>
            <ul id="logged-in">
                {% if user.is_authenticated %}
                    <li id="hello">Olá, {{ user.username.title }} 👤</li>
                    <li id="logout"><a href="{% url 'accounts:logout' %}">Sair 🛌</a></li>
                {% endif %}
            </ul>  
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        &copy; Gerenciamento Financeiro 2023
    </footer>
</body>
</html>