<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <script src="{% static 'logout.js' %}"></script>
    <script src="{% static 'show_menu.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <header> 
        <nav class="navigation">
            <ul id="not-logged-in" class="navbar">
                <li id="index"><a href="{% url 'cria_lista:index' %}">INICIO</a></li>
                {% if not user.is_authenticated %}
                    <li id="login"><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li id="signup"><a href="{% url 'accounts:signup' %}">Cadastre-se</a></li>
                {% endif %}            
            </ul>
            <ul id="logged-in" class="navbar">
                {% if user.is_authenticated %}
                    <li id="hello">Olá, {{ user.username.title }} 
                        <span class="material-symbols-outlined">account_circle</span>
                    </li>
                    <li id="logout"><a href="{% url 'accounts:logout' %}">Sair
                        <span class="material-symbols-outlined">logout</span></a>
                    </li>
                {% endif %}
            </ul>  
        </nav>
    </header>
    <aside>
        <span id="menu" class="material-symbols-outlined" onclick="clickMenu()">
            menu
        </span>
        <div id="info" class="info">
            <h2>Atalhos</h2>
            <div class="profile">
                <h3><a href="#">Meu perfil</a></h3>
            </div>
            <div class="details">
                <h3><a href="#">Ver detalhes</a></h3>
            </div>
        </div>
    </aside>
    <main>

        {% block content %}
        {% endblock %}
    </main>
    <footer>
        &copy; Gerenciamento Financeiro 2023
    </footer>
</body>
</html>
