<div id="popup" class="popup">
    <div class="popup-content">
      <span class="close" onclick="closePopup()"><i class="fas fa-close"></i></span>
      {% if itens %}
        <h1>Deseja excluir o item <br> <strong id="item-name" style="color: #287133;"></strong>?</h1>
      {% elif listas %}
        <h1>Deseja excluir a lista <br> <strong id="lista-name" style="color: #287133;"></strong>?</h1>
      {% else %}
        <h1>Deseja excluir esse registro de renda extra?</h1>
      {% endif %}
      <p>Essa ação não pode ser revertida.</p>
      <div class="popup-buttons">
        <form id="delete-form" method="post">
          {% csrf_token %}
          <button type="submit" class="btn-confirm">Confirmar Exclusão</button>
        </form>
        <button class="btn-cancel" onclick="closePopup()">Cancelar</button>
      </div>
    </div>
  </div>