<div class="form-container">
  <div class="form">
    <form method="post">
      {% csrf_token %}
      <legend>Preencha os campos</legend>
      <div class="form-group">
        <label for="{{ form.nome.id_for_label }}"><strong>{{ form.nome.label }}</strong></label>
        {{ form.nome }}
      </div>
      <div class="form-group">
        <label for="{{ form.tipo.id_for_label }}"><strong>{{ form.tipo.label }}</strong></label>
        {{ form.tipo }}
      </div>
      <div class="form-group">
        <label for="{{ form.categoria.id_for_label }}"><strong>{{ form.categoria.label }}</strong></label>
        {{ form.categoria }}
      </div>
      <div class="form-group">
        <label for="{{ form.meta_de_gastos.id_for_label }}"><strong>{% if lista.id_lista %}{{ form.meta_de_gastos.label }} R$ {% else %}Limite{% endif %}</strong></label>
        <div class="currency-input">{{ form.meta_de_gastos }}</div>
      </div>
      <div class="button">
        <button type="submit"><strong>{% if lista.id_lista %}Salvar{% else %}Criar{% endif %}</strong></button>
      </div>
    </form>
  </div>
</div>
