{% extends "base.html" %} {% block head %}
<title>Cadastrar Itens</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'input_style.css' %}" />
{% endblock %} {% block content %}
<div class="form-container">
  <div class="form">
    <form method="post">
      {% csrf_token %}
      <legend>
        Lista
        <a id="title" href="{% url 'cria_lista:ver_itens' id_lista=lista.id %}"
          >{{ lista.nome.title }}</a
        >
      </legend>
      <div class="form-group">
        <label for="{{ form.nome.id_for_label }}"
          ><strong>{{ form.nome.label }}</strong></label
        >{{ form.nome}}
      </div>
      <div class="form-group">
        <label for="{{ form.quantidade.id_for_label }}"
          ><strong>{{ form.quantidade.label }}</strong></label
        >{{ form.quantidade }}
      </div>
      <div class="form-group">
        <label for="{{ form.valor.id_for_label }}"
          ><strong>{{ form.valor.label }}</strong></label
        >{{ form.valor }}
      </div>
      <div class="button">
        <button type="submit">Salvar</button>
      </div>
      <div class="label-data">
        {% if lista.calcular_diferenca <= 0 %}
        <label style="color: red"
          >Saldo: R${{ lista.calcular_diferenca }}</label
        >
        {% else %}
        <label>Saldo: R${{ lista.calcular_diferenca }}</label>
        {% endif %}
        <label>Gasto: R${{ lista.valor_total }}</label>
      </div>
    </form>
  </div>
</div>
{% endblock %}
