{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'form_style.css' %}">
{% endblock %}

{% block content %}
<h2>Crie sua lista</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="nome">Nome da lista: {{ form.nome }}</label>
    </div>
    <div class="form-group">
        <label for="tipo">Prioridade: {{ form.tipo }}</label>
    </div>
    <div class="form-group">
        <label for="categoria">Categoria: {{ form.categoria }}</label>
    </div>
    <div class="form-group">
        <label for="data">Data: {{ form.data }}</label>
    </div>
    <div class="form-group">
        <label for="meta">Meta de gastos: {{ form.meta_de_gastos }}</label>
    </div>
    <div class="botao">
        <button type="submit">Criar</button>
    </div>
</form>
        
{% endblock %}