{% extends "base.html" %}
{% block head %}
    <title>Deletar Lista {{ lista }}</title>
{% load static %}
<link rel="stylesheet" href="{% static 'action_confirm.css' %}">
{% endblock %}
{% block content %}
<div class="form">
    <form method="post">
        {% csrf_token %}
        <h2>Tem certeza que deseja excluir a lista "<strong>{{ lista }}</strong>"?</h2>
        <p>Ao deletar a lista você apagará todos os itens vinculados a ela</p>
        <div class="botao">
            <button type="submit">Excluir</button>
        </div>
    </form>
</div>
{% endblock %}