{% extends "base.html" %}
{% block head %}
    <title>Excluir Item {{ item }}</title>
{% load static %}
<link rel="stylesheet" href="{% static 'action_confirm.css' %}">
{% endblock %}
{% block content %}
<div class="form">
    <form method="post" action="{% url 'cria_lista:deletar_item' id_lista=lista.id id_item=item.id %}">
        {% csrf_token %}
        <h1>Tem certeza que deseja excluir o item "<strong>{{ item }}</strong>"?</h1>
        <p>Essa ação não pode ser revertida.</p>
        <div class="botao">
            <button type="submit">Confirmar Exclusão</button>
        </div>
    </form>
</div>
{% endblock %}