{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'form_style.css' %}">
{% endblock %}
{% block content %}
<h2>Nome atual: {{ listas }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="novo_nome">Alterar nome: <input type="text" name="novo_nome" id="novo_nome" required maxlength="50"></label>
        </div>
        <div class="form-group">
            <label for="meta">Alterar meta de gastos: <input type="number" name="meta" id="meta" required maxlength="6"></label>
        </div>
        <div class="botao">
            <button type="submit">Salvar</button>
        </div>
    </form>

{% endblock %}