{% extends "base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'list_style.css' %}">
{% endblock %}
{% block content %}

{% if listas %}
    <h2>Escolha uma das listas abaixo</h2>
        <div class="list-container">
            <p>Listas</p>
            <ul>
                {% for lista in listas %}
                    <a href="{% url 'cria_lista:cadastrar_itens' lista.id %}">
                        <li>Nome: {{ lista.nome }} - Tipo: {{ lista.tipo }} - Disponível: R${{ lista.calcular_diferenca }} </li>
                    </a>
                {% endfor %}
            </ul>
            <p>Total: {{ listas|length }}</p>
        </div>
{% else %}
    <h2>Nenhuma lista criada ainda</h2>
{% endif %}
    
{% endblock %}