{% extends "base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'list_style.css' %}">
{% endblock %}

{% block content %}
{% if listas %}
    <h2>Excluir lista</h2>
    <div class="list-container">
        <ul>
            {% for lista in listas %}
                <a href="{% url 'cria_lista:confirma_excluir_lista' lista.id %}"><li>Lista: {{ lista.nome }}</li></a>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <p>Sem listas no momento</p>
{% endif %}
{% endblock %}