{% extends "base.html" %}
{% block head %}
    <title>Início</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'selection_style.css' %}">
{% endblock %}

{% block content %}
<div class="menu">
    <h1 id="title">Bem-vindo!</h1>
    <div class="button-container">
        <a id="add" class="link" href="{% url 'cria_lista:nova_lista' %}">
            Criar Listas
        </a>
        <a id="show" class="link" href="{% url 'cria_lista:listas' %}">
            Ver Listas
        </a>
    </div>

</div>

{% endblock %}