{% extends "base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'table_list.css' %}">
{% endblock %}
{% block content %}

{% if listas %}
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Lista</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Gasto</th>
                        <th scope="col">Saldo</th>
                        <th scope="col">Limite</th>
                        <th scope="col" colspan="3">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lista in listas %}
                        <tr>
                            <th>{{ forloop.counter }}</th>
                            <td>{{ lista.nome.upper }}</td>
                            <td>{{ lista.tipo }}</td>
                            <td>{{ lista.categoria}}</td>
                            <td>R${{ lista.valor_total }}</td>
                            <td>R${{ lista.calcular_diferenca }}</td>
                            <td>R${{ lista.meta_de_gastos }}</td>
                            <td id="add">
                                <a href="{% url 'cria_lista:cadastrar_itens' lista.id %}"><button>Adicionar</button></a>
                            </td>
                            <td id="edit">
                                <a href="{% url 'cria_lista:editar_lista' lista.id %}"><button>Editar</button></a>
                            </td>
                            <td id="delete">
                                <a href="{% url 'cria_lista:confirma_excluir_lista' lista.id %}"><button>Excluir</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="10">Total de listas: {{ listas|length }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
{% else %}
    <p>Nenhuma lista criada ainda</p>
{% endif %}
    
{% endblock %}